// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #02A8A4;
$light-green: rgb(70,157,143);
$gray: #0E0000;
$light-gray: #F4F4F4;

