<div class="col-6 m-auto">
  <br>
  <br>
  <div class="event-form">
    <h1>Create your event</h1>
    <div class="mt-3">
      <%= render "event_form", event: @event %>
    </div>
  </div>
</div>
</div>
