<h1> Parcourir la catégorie <%= params[:category] %> </h1>

<div class="container my-5">
  <h2>Nos prochains événements </h2>
  <div class="cards my-5">
    <% @events.each do |event| %>
    <div class="card-trip">
      <div class="card-trip-infos">
        <div>
          <h2> <%= link_to event.title, event_path(event) %> </h2>
          <p> <%= event.location %> </p>
        </div>
        <% if event.price == 0 %>
          <p class="card-trip-pricing"> Gratuit </p>
        <% else  %>
          <p class="card-trip-pricing"> <%= event.price %>€</p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
