<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://ichef.bbci.co.uk/news/1024/cpsprodpb/18349/production/_111454199_afptunisia.jpg');">
  <div class="container">
    <h1>HappyCorona <strong>vous réanime</strong> !</h1>
    <p>Des événements corona-compatibles à portée de masque</p>
    <%= render "shared/search" %>
  </div>
</div>

<div class="container my-5">
  <h2>Découvre nos prochains événements</h2>

  <div class="cards my-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.digitalmusicnews.com/wp-content/uploads/2018/10/Music-Festival-Veld-Music-Festival.jpg)">
      <a href="/category/(A)live Music" style="color:#FFFFFF; text-decoration:none"> (A)live Music </a>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.francetvinfo.fr/image/75rxp88cz-824a/1200/450/21261559.jpg)">
      <a href="/category/CoronArt" style="color:#FFFFFF; text-decoration:none"> CoronArt </a>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hangry.azureedge.net/wp-content/uploads/hospital-ordering-1288x724.jpg)">
      <a href="/category/Food" style="color:#FFFFFF; text-decoration:none"> Food </a>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://league-mp7static.mlsdigital.net/styles/image_landscape/s3/mp6/image_nodes/2011/02/jerseydl.jpg?null&itok=7jBW1RSU)">
      <a href="/category/E-Sports" style="color:#FFFFFF; text-decoration:none"> E-Sports </a>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.telegraph.co.uk/content/dam/news/2018/09/28/TELEMMGLPICT000176089299_trans_NvBQzQNjv4Bq6844extr6dIv-d8O8PIpPqbshHooRpJk-anXnRBzWKY.jpeg?imwidth=1400)">
      <a href="/category/Quarantine body challenge" style="color:#FFFFFF; text-decoration:none"> Quarantine body challenge </a>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.actu.fr/uploads/2019/07/mousse-2.jpeg)">

      <a href="/category/Soirées CoronaMousse" style="color:#FFFFFF; text-decoration:none"> Soirées CoronaMousse </a>
    </div>
  </div>
</div>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1456725203480-0be828fcd7ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2048&q=80');">
    <div class="container">
      <h2><em>"Bah dis donc, tu viens plus aux soirées?"</em></h2>
      <%= link_to 'Voir tous les événements', events_path, class: "btn btn-primary btn-lg"%>
    </div>
  </div>
